// Kleuren internationaal
$kleur-scouts-int                                 : #5f1d7f;
$kleur-gidsen-int                                 : #0063a7;

// Kleuren - Scouts en Gidsen Vlaanderen
$kleur-sgv                                        : #758e3a;
$kleur-zeescouting                                : #004878;
$kleur-favicon                                    : #bdd732;
$kleur-groepsadmin                                : #287092;

// Kleuren - Hopper
$kleur-hopper                                     : #000;
$kleur-hopper-winkel                              : #b6121b;
$kleur-hopper-jgd                                 : #727b34;

// Kleuren - groepen
$kleur-kapoenen-zeehondjes                        : #dcef07;
$kleur-zee-kabouters-welpen                       : #298e40;
$kleur-jonggidsen-jongverkenners-scheepsmakkers   : #fb8b05;
$kleur-zee-gidsen-verkenners                      : #0d29d3;
$kleur-jins-loodsen                               : #b1031c;
$kleur-akabe                                      : #bb4599;
$kleur-leiding                                    : #730ccd;
$kleur-groepsleiding                              : #572700;